<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Dev Standard</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <base href="/index.html/"/>

        <!--STYLES-->
        <link rel="stylesheet" href="/libs/bootstrap-3.3.6/css/bootstrap.css">
        <link rel="stylesheet" href="/css/index/common.css">
        <!--STYLES END-->
    </head>

    <body>
        <app>Loading...</app>

        <!--SCRIPTS-->
        <script src="/libs/lodash-4.11.1/lodash.js"></script>
        <script src="/libs/jquery-2.2.3/jquery-2.2.3.js"></script>
        <script src="/libs/angular-1.5.5/angular.js"></script>
        <script src="/libs/angular-ui-router-0.2.18/angular-ui-router.js"></script>
        <script src="/libs/rxjs-4.1.0/rx.all.js"></script>
        <script src="/apps/index/boot.js"></script>
        <script src="/apps/index/app/app-routing.js"></script>
        <script src="/apps/index/app/app.js"></script>
        <script src="/apps/index/main/bottom/main-bottom.js"></script>
        <script src="/apps/index/main/content-item1/main-content-item1.js"></script>
        <script src="/apps/index/main/content-item2/main-content-item2.js"></script>
        <script src="/apps/index/main/content/main-content.js"></script>
        <script src="/apps/index/main/content2/main-content2.js"></script>
        <script src="/apps/index/main/content3/main-content3.js"></script>
        <script src="/apps/index/main/main-routing.js"></script>
        <script src="/apps/index/main/main.js"></script>
        <script src="/apps/index/main/reqToSvr.js"></script>
        <script src="/apps/index/main/top/main-top.js"></script>
        <script src="/apps/index/menu/menu-routing.js"></script>
        <script src="/apps/index/menu/menu.js"></script>
        <script src="/apps/index/menu/reqToSvr.js"></script>
        <script src="/apps/index/page1/page1-routing.js"></script>
        <script src="/apps/index/page1/page1.js"></script>
        <script src="/apps/index/page1/reqToSvr.js"></script>
        <script src="/apps/index/page2/lstToSvr.js"></script>
        <script src="/apps/index/page2/page2-list-item/page2-list-item.html.js"></script>
        <script src="/apps/index/page2/page2-list/page2-list.js"></script>
        <script src="/apps/index/page2/page2-routing.js"></script>
        <script src="/apps/index/page2/page2.js"></script>
        <script src="/apps/index/page2/reqToSvr.js"></script>
        <script src="/apps/index/page3/page3-routing.js"></script>
        <script src="/apps/index/page3/page3.js"></script>
        <script src="/apps/index/page3/popup-view/popup-view.js"></script>
        <script src="/apps/index/page3/popup-write/popup-write.js"></script>
        <script src="/apps/index/page3/reqToSvr.js"></script>
        <script src="/apps/index/util/appStore.js"></script>
        <script src="/apps/index/util/popupManager.js"></script>
        <script src="/libs/sails-io-0.13.6/sails.io.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>
